{
    "endOfLine": "lf",
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "arrowParens": "always",
    "quoteProps": "consistent",
    "htmlWhitespaceSensitivity": "ignore",
    "trailingComma": "all"
}
